initialize:
  true
  # If true, the script will create the necessary tables and indexes in the database.
  # If false, it will assume the tables and indexes already exist.

meilisearch:
  api_url: http://localhost:7700
  api_key: "idk"
database:
  type: postgres
  host: localhost
  port: 5432
  database: mydb
  user: myuser
  password: mypassword
sync:
  - table: table_1_name
    index: index_name
    pk: primary_key_name
  - table: table_2_name
    index: index_name
    pk: primary_key_name
  - table: table_3_name
    index: index_name
    pk: primary_key_name